{% import "window.njk" as macroWindow %}

{{ macroWindow.windowTop("left.html", "left") }}

<div class="center">
  <nav>
    <p>Pages</p>
    <div class="buttons">
      <a href="/" target="_top">
        <button>Home</button>
      </a>
      <a href="/shrines" target="_top">
        <button>Shrines</button>
      </a>
      <a href="/#feedback" target="_top">
        <button>Feedback</button>
      </a>
      <button disabled="disabled">Real Feedback</button>
    </div>
    <hr>
    <p>Projects</p>
    <div class="buttons">
      <a href="/webgardens" target="_top">
        <button>Webgardens</button>
      </a>
      <a href="/games/monstermachine" target="_top">
        <button>The Monster Machine</button>
      </a>
      <a href="https://codepen.io/missmoss/pen/VwPKpXm" target="_top">
        <button>shelves.css</button>
      </a>
    </div>
    <hr>
  </nav>
  <p>hey! add my button!</p>
  <a href="https://missmoss.neocities.org" target="_top"><img src="https://i.imgur.com/Sv96gpg.png"/>
  </a>
  <textarea>&lt;a href="https://missmoss.neocities.org"&gt;&lt;img src="https://i.imgur.com/Sv96gpg.png"&gt;&lt;/a&gt;</textarea>
  <p>thanks to
    <a href="https://keysklubhouse.neocities.org" target="_top">Key</a>
    for making it!</p>

  {{ macroWindow.windowBottom() }}
