{% window "left.html",
"left" %}

<div class="center">
  <nav>
    <p>Pages</p>
    <div class="buttons">
      {% for page in collections.pages %}
        <a href="{{ page.url }}">
          <button>{{ page.data.title }}</button>
        </a>
      {% endfor %}

      <a href="/#webcollections" target="_top">
        <button>Web Collections</button>
      </a>
      <a href="/#toybox" target="_top">
        <button>Toybox</button>
      </a>
      <a href="/#feedback" target="_top">
        <button>Feedback</button>
      </a>
      <button disabled="disabled">Real Feedback</button>
    </div>

    <hr>

    <p>Projects</p>
    <div class="buttons">
      {% for project in collections.projects %}
        <a href="{{ project.url }}">
          <button>{{ project.data.title }}</button>
        </a>
      {% endfor %}
      <a href="https://codepen.io/missmoss/pen/VwPKpXm" target="_top">
        <button>shelves.css</button>
      </a>
    </div>

    <hr>

    <p>Toys</p>
    <div class="buttons">
      {% for project in collections.toys %}
        <a href="{{ project.url }}">
          <button>{{ project.data.title }}</button>
        </a>
      {% endfor %}
    </div>

    <hr>

    <p>Games</p>
    <div class="buttons">
      {% for game in collections.games %}
        <a href="{{ game.url }}">
          <button>{{ game.data.title }}</button>
        </a>
      {% endfor %}
    </div>

    <hr>

  </nav>
  <p>hey! add my button!</p>
  <a href="https://missmoss.neocities.org" target="_top"><img src="https://i.imgur.com/Sv96gpg.png"/>
  </a>
  <textarea>&lt;a href="https://missmoss.neocities.org"&gt;&lt;img src="https://i.imgur.com/Sv96gpg.png"&gt;&lt;/a&gt;</textarea>
  <p>thanks to
    <a href="https://keysklubhouse.neocities.org" target="_top">Key</a>
    for making it!</p>

  <a href="#cbox" target="_top">
    <button>Feeling lonely?</button>
  </a>
{% endwindow %}

<br>
  {% include "_cbox.njk" %}
