<section id="right" class="sidebarframe">
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">right.html</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" onclick="hideThing('right');"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close" onclick="hideThing('right');"></button>
      </div>
    </div>

    <div class="window-body">

      <div class="marquee-rtl">
        <span>
          <a href="https://forthebadge.com" target="_top"><img src="https://forthebadge.com/images/badges/ages-12.svg" alt="Ages: 12+"></a>
          <a href="https://forthebadge.com" target="_top"><img src="https://forthebadge.com/images/badges/built-by-developers.svg" alt="Built by: Developers"></a>
          <a href="https://forthebadge.com" target="_top"><img src="https://forthebadge.com/images/badges/built-with-love.svg" alt="Built with: <3"></a>
          <a href="https://forthebadge.com" target="_top"><img src="https://forthebadge.com/images/badges/cc-nc-sa.svg" alt="Creative Commons: Non-Commercial ShareAlike"></a>
        </span>
      </div>
      <hr>

      <!-- <a href="http://english-1616156393.spampoison.com"><img src= "http://pics8.inxhost.com/images/sticker.gif" border="0" width="80" height="15"/></a> -->

      <p class="rainbow-text">i'm feeling:</p>
      <a href="http://www.imood.com/users/ComicSams" target="_top" rel="noopener"><img src="http://moods.imood.com/display/uname-ComicSams/fg-000000/trans-1/imood.gif" alt="The current mood of ComicSams at www.imood.com" border="0"/></a><br/><br/>
      <hr>

      <!-- <p>graphics:</p> <div class="marquee-rtl"><span> <a href="https://www.lejlart.com/apple.html" target="_top"><img src="/img/88x31/appledust.gif"></a> <a href="http://kawaiiness.net" target="_top"><img src="https://i.imgur.com/wL2qs17.gif"></a> <a
      href="https://graphic.neocities.org/" target="_top"><img src="https://graphic.neocities.org/Button2.png"></a> <a href="http://www.mooncandy.net/stef/" target="_top"><img src="/img/88x31/marichancannelle.gif"></a> <a href="http://pixel-dreams.tumblr.com"
      target="_top"><img src="/img/88x31/pixelgarden.gif"></a> </span></div> <hr> -->
      <p>friends:</p>
      <div class="marquee-rtl">
        <span>
          <a href="https://drhelvetica.neocities.org" target="_top"><img src="/img/88x31/drhelvetica.gif"></a>
          <a href="https://dunedude.newgrounds.com" target="_top"><img src="/img/88x31/dunedude.png"></a>
          <a href="https://fuckingwebmaster.neocities.org" target="_top"><img src="/img/88x31/fuckingwebmaster.gif"></a>
          <a href="https://samplade.neocities.org" target="_top"><img src="/img/88x31/samplade.png"></a>
        </span>
      </div>
      <hr>

      <p>rings n' listings:</p>
      <!-- <div class="marquee-rtl"><span> -->
      <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      <a href="https://neo-neighborhoods.neocities.org/SouthBeach/" target="_top"><img src="/img/88x31/neo-neighborhoods_sb.gif"></a>
      <!-- </span></div> -->
      <hr>

      <p>fanlistings:</p>
      <div class="marquee-rtl">
        <span>
          <a href="http://fantique.org/acnh/" target="_top" rel="noopener"><img src="/img/50x50/acnh.png"/></a>
          <a href="https://www.celes.net/link/" target="_top" rel="noopener"><img src="/img/50x50/link.jpg"/></a>
          <a href="https://www.celes.net/luigi/" target="_top" rel="noopener"><img src="/img/50x50/luigi.gif"/></a>
          <a href="http://paper.popcandy.org/" target="_top" rel="noopener"><img src="/img/50x50/papermario.png"/></a>
          <a href="http://fan.raygunsue.org/slime/" target="_top" rel="noopener"><img src="/img/50x50/slime.png"/></a>
          <a href="https://fan.glast-heim.net/undertale" target="_top" rel="noopener"><img src="/img/50x50/undertale.png"/></a>
          <a href="http://zelda.zeruda.org" target="_top" rel="noopener"><img src="/img/50x50/zelda.gif"/></a>
        </span>
      </div>

    </div>
  </div>
</section>
