.shelf {
  display: block;
  z-index: 9;
  content: url("https://i.imgur.com/1QepZRl.png");
  position: relative;
  width: 941px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.stuffonshelf {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 10;
  margin-bottom: -80px; /* This is what actually puts the stuff ON the shelf instead of hovering above it */
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}