---
layout: base.njk
---
{% import "window.njk" as macroWindow %}

{{ macroWindow.windowTop("{% block fakefilename %}file.txt{% endblock %}", "home") }}
{{ content | safe }}
{{ macroWindow.windowBottom() }}
