<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../_includes/partials/head.njk" %}
  </head>

  <body>

    <header>
      {% include "../_includes/partials/header.njk" %}
    </header>

    <!--] main [-->
    <main>
      {% block content %}
        <!--] hypertext content [-->

        <h1>{{ title }}</h1>

        {{ content | safe }}

        <!--] /hypertext content [-->
      {% endblock %}
    </main>
    <!--] /main [-->

    <!--] footer [-->
    <footer>
      {% include "../_includes/partials/footer.njk" %}
    </footer>

  </body>
</html>