---
title: Monster Machine
tags:
- games
layout: blank.njk
---
<style>
  body {
    background-color: #222;
  }

  .box {
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: dimGray;
    font-family: monospace;
  }

  img {
    position: absolute;
  }

  .dragme {
    position: relative;
    cursor: move;
  }
</style>

<script>
  function startDrag(e) {
    // determine event object
    if (!e) {
      var e = window.event;
    }
    if (e.preventDefault) e.preventDefault();

    // IE uses srcElement, others use target
    targ = e.target ? e.target : e.srcElement;

    if (targ.className != 'dragme') {
      return
    };
    // calculate event X, Y coordinates
    offsetX = e.clientX;
    offsetY = e.clientY;

    // assign default values for top and left properties
    if (!targ.style.left) {
      targ.style.left = '0px'
    };
    if (!targ.style.top) {
      targ.style.top = '0px'
    };

    // calculate integer values for top and left
    // properties
    coordX = parseInt(targ.style.left);
    coordY = parseInt(targ.style.top);
    drag = true;

    // move div element
    document.onmousemove = dragDiv;
    return false;

  }

  function dragDiv(e) {
    if (!drag) {
      return
    };
    if (!e) {
      var e = window.event
    };
    // var targ=e.target?e.target:e.srcElement;
    // move div element
    targ.style.left = coordX + e.clientX - offsetX + 'px';
    targ.style.top = coordY + e.clientY - offsetY + 'px';
    return false;
  }

  function stopDrag() {
    drag = false;
  }
  window.onload = function() {
    document.onmousedown = startDrag;
    document.onmouseup = stopDrag;
  }
</script>


<body>

  <div class="box">

    <h1>The Monster Machine</h1>
    <p>Welcome to The Monster Machine! Use the parts provided below to create your own monster!</p>
    <p>Once you're done, you can adopt your creation and let it live on your website. Make sure to put this certificate somewhere on the site so people know where you got your monster from!</p>

    <center>
      <a href="https://missmoss.neocities.org/games/monstermachine"><img src="https://i.imgur.com/Jwt0vWF.png" alt="" style="position:relative;"></a><br>
      <textarea><a href="https://missmoss.neocities.org/games/monstermachine"><img src="https://i.imgur.com/Jwt0vWF.png"></a></textarea>
    </center>
    <br>

    {% for image in collections.mm_ears %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_arms %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_limbs %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_feet %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_toes %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_wings %}
    <img src='/{{ image }}' alt="" style="z-index:2;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_eyes %}
    <img src='/{{ image }}' alt="" style="z-index:4;" class="dragme">
    {% endfor %}
    <br>
    {% for image in collections.mm_mouths %}
    <img src='/{{ image }}' alt="" style="z-index:3;" class="dragme">
    {% endfor %}
  </div>

  <div class="box">
    <h3>Community Parts</h3>
    <h4>MelonKing</h4>
    {% for image in collections.mmc_melonking %}
    <img src='/{{ image }}' alt="" style="z-index:3;" class="dragme">
    {% endfor %}
  </div>

  <div class="box" alt="" style="color:white; background-color:#00ff00; height:600px;">
    <p>Assemble your monster here!</p>
    <img src="./extra_exclamation1.png" alt="" style="z-index:2;" class="dragme">
    <img src="./extra_exclamation2.png" alt="" style="z-index:2;" class="dragme">
    <img src="./extra_heart.png" alt="" style="z-index:9;" class="dragme">
    <img src="./extra_star.png" alt="" style="z-index:9;" class="dragme">
  </div>

  <div class="box">
    <p>More parts down here...</p>

    {% for image in collections.mm_bodies %}
    <img src='/{{ image }}' alt="" style="z-index:1;" class="dragme">
    {% endfor %}

    <p>Want to connect multiple body parts together? Here are some patches to help blend the outlines:</p>

    {% for image in collections.mm_patches %}
    <img src='/{{ image }}' alt="" style="z-index:8;" class="dragme">
    <img src='/{{ image }}' alt="" style="z-index:8;" class="dragme">
    <img src='/{{ image }}' alt="" style="z-index:8;" class="dragme">
    {% endfor %}
  </div>