em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

h1 {
  display: block;
  /*
  font-size: 2em;
  /* Default font-size is 2em */
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  /*
  font-size: 1.5em;
  /* Default font-size is 1.5em */
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  /*
  font-size: 1.17em;
  /* Default font-size is 1.17em */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  /*
  font-size: 1em;
  /* Default font-size is 1 */
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  /*
  font-size: .83em;
  /* Default font-size is .83 */
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  /*
  font-size: .67em;
  /* Default font-size is .67 */
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  display: block;
  /*
  font-size: 1.2em;
  /* Default font-size is... idk */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

li {
  display: list-item;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

dl {
  display: block;
  /*
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  */
}

dd {
  display: block;
  margin-left: 40px;
}

dt {
  display: block;
}
