/* basic appearance and mechanics stuff */
body,
html {
  margin: 0;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

section {
  display: none;
}

section:target, section#home, section#left, section#right {
  display: block;
}

nav a {
  text-decoration: none;
}

iframe {
  border: 0;
}

/* common styled boxes */
.notepad {
  background-image: url("/img/backgrounds/np_cakiepadPurple.png");
  background-color: white;
  background-repeat: repeat-y;
  width: 467px;
  padding-left: 33px;
  border: 0;
}
/* remember: margin shorthand goes TOP, RIGHT, BOTTOM, LEFT, clockwise */
.notepad p {
  line-height: 15px;
  margin: 1px 0 1px 3px;
}

/* utilities, like replacing deprecated tags such as <center> */
.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

@keyframes marquee-rtl {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.marquee-rtl {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee-rtl span {
  display: inline-block;
  width: max-content;
  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee-rtl 15s linear infinite;
}

.marquee-rtl span:hover {
  animation-play-state: paused;
}
