---
title: Home
date: 0000-01-01
layout: base.njk
tags:
- pages
---
{% window "index.html", "home" %}

<h3>Welcome to the <i>mossy site</i></h3>
<p>I hope you enjoy your stay! Don't mind the animals, I'm getting a habitat ready for them.</p>
<a href="https://adeleine.neocities.org/"><img src="https://adeleine.neocities.org/images/monsters/snailhogalbino.png"></a>
<a href="https://theenderdraco.neocities.org/pound.html"><img src="https://theenderdraco.neocities.org/pets/snap2.png"></a>
<br>

{% for update in indexUpdates %}
<p><b>[<time datetime="{{ update.date }}">{{ update.date }}</time>]</b>
  {{ update.content }}
</p>
{% endfor %}

<a href="https://info.flagcounter.com/ZONP"><img src="https://s04.flagcounter.com/map/ZONP/size_s/txt_000000/border_CCCCCC/pageviews_0/viewers_0/flags_0/" alt="Flag Counter" border="0"></a>

{% endwindow %}

<br>

{% window "webcollections.html", "webcollections" %}
<p>Here's my stamp collection! Hover over a stamp to see who made it.</p>

{% for image in collections.stamps %}
<img src='{{ image }}' id='{{ image }}' alt='This alt should be replaced.' title='This title should be replaced.'>
{% endfor %}

<p>Blinkies (I only have one for now)</p>

{% for image in collections.blinkies %}
<img src='{{ image }}' id='{{ image }}' alt='This alt should be replaced.' title='This title should be replaced.'>
{% endfor %}

<p>Look at all these cool bumper stickers! Get your own at <a href="https://www.internetbumperstickers.com">internetbumperstickers.com</a>!</p>

{% for image in collections.bumperstickers %}
<img src='{{ image }}' alt='Internet Bumper Sticker'>
{% endfor %}

<script type="text/javascript">
  {% for image in collections.stamps %}
  document.getElementById('{{ image }}').setAttribute("alt", createTitle("{{ image }}"));
  document.getElementById('{{ image }}').setAttribute("title", createTitle("{{ image }}"));
  {% endfor %}

  {% for image in collections.blinkies %}
  document.getElementById('{{ image }}').setAttribute("alt", createTitle("{{ image }}"));
  document.getElementById('{{ image }}').setAttribute("title", createTitle("{{ image }}"));
  {% endfor %}
</script>
{% endwindow %}

<br>

{% window "feedback.html", "feedback" %}
<DIV align=left><TABLE height=128 cellSpacing=0 cellPadding=0 width=512 border=0><TBODY><TR><TD vAlign=top width=512 height=128><FORM name=myform><P>Give me feedback:</P><P><TEXTAREA onkeypress="return changer()" name=mytext rows=10 wrap=virtual cols=40></TEXTAREA><BR><BR><button onclick=resetit()>Submit Feedback</button></P></FORM></TD></TR></TBODY></TABLE></DIV>
{% endwindow %}

<br>

{% window "map.png", "map" %}
<a href="https://info.flagcounter.com/ZONP"><img src="https://s04.flagcounter.com/map/ZONP/size_s/txt_000000/border_CCCCCC/pageviews_0/viewers_0/flags_0/" alt="Flag Counter" border="0"></a>
{% endwindow %}

<br>

{% window "upside_down.txt", "udt" %}
<iframe src="http://www.upsidedowntext.com/widgetF" frameborder="0" width="390px" height="360px"></iframe>
{% endwindow %}
