---
title: Home
date: 0000-01-01
layout: base.njk
tags:
- pages
---
{% import "window.njk" as macroWindow %}

{{ macroWindow.windowTop("index.html", "home") }}

<h3>Welcome to the <i>mossy site</i></h3>
<p>A lot of stuff is probably broken because I recently migrated my ENTIRE site to 11ty and Github and all that. Sorry!</p>

{% for image in collections.stamps %}
<img src="{{image}}" alt="">
{% endfor %}

{% for update in indexUpdates %}
<p><b>[<time datetime="{{ update.date }}">{{ update.date }}</time>]</b>
  {{ update.content }}
</p>
{% endfor %}

{{ macroWindow.windowBottom() }}

{% for item in indexWindows %}
<br>
{{ macroWindow.window(item.name, item.id, item.windowcontent) }}
{% endfor %}
