---
title: Trollge Incidents
tags:
- projects
layout: project.njk
permalink: "/trollge/"
---
<style>
  body {
    font-family: monospace;
    background-color: black;
    background-image: url("/img/backgrounds/bg_staticBlack.gif");
  }

  summary,
  details {
    margin-bottom: 10px;
  }

  .box {
    background: gray;
    border: 5px solid black;
    width: 875px;
  }
</style>


<div class="box">
  <h1>THIS PAGE IS UNDER CONSTRUCTION PLEASE IGNORE EVERYTHING IN IT</h1>
  <h2>I copied stuff from the Analog Horror Project so you know</h2>
</div>

{% for series in ahSeries %}
<br>

<div class="box">
  <h1>{{ series.name }}</h1>
  <img src="/img/logos/logo_{{ series.acronym }}.png" class="logo">
  <h3>Most recent activity: <time datetime="{{ series.mostRecentActivity }}">{{ series.mostRecentActivity }}</time></h3>
  <h3>First activity: <time datetime="{{ series.firstActivity }}">{{ series.firstActivity }}</time></h3>
  <h3>Total video count: {{ series.totalVideoCount }}</h3>
  <p>{{ series.notes }}</p>
  <p>{{ series.theory }}</p>

  {%- for episode in collections.episode -%}
  {% if episode.data.series == series.acronym %}
  <button class="collapsible" type="button">
    <strong>{{ episode.data.title }}</strong><br>
    <time datetime="{{ datetime }}">{{ episode.data.dateuploaded }}</time>
  </button>
  <div class="content"><br />
    <div class="videobox">
      <iframe class="television" src="https://www.youtube-nocookie.com/embed/{{ episode.data.youtube }}" width="560" height="315"></iframe>
    </div>
    <br />
    <details>
      <summary>Click once you've watched the video!</summary>
      {{ episode.templateContent | safe }}
    </details>
  </div>
  {% endif %}
  {%- endfor -%}

</div>
{% endfor %}
